body {
    font-family: Montserrat;
    font-size: 11px;
}

.montserrat {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
}

.top {
    display: flex;
    align-items: center;
    margin: 15px;
}

/* Container for the search bar */
.search-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 5px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.search-icon {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

/* SVG icon styling */
.search-icon svg {
    width: 20px;
    height: 20px;
    fill: #000000;
}

/* Text container styling */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background: none;
}

/* Styling for each line */
.line {
    display: flex;
    align-items: center;
}

.item {
    padding-right: 5px;
}

.firstline {
    font-size: 13px;
    font-weight: 600;
}

/* Settings box */
.settings-container {
    display: inline-flex;
    flex: 2;
    max-height: 13px;
    max-width: 13px;
    margin-left: 15px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #B0B0B0;
    border-radius: 50%;
}

/*  Styles for the navigation menu */

.nav {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px -1px rgba(129, 129, 129, 0.1);
    overflow-x: scroll;
    position: relative;
    align-items: center;
    padding: 0px;
}

.nav::-webkit-scrollbar {
    width: 0;
    display: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 17px;
    position: relative;
    height: 80px;
}

.nav-item img {
    height: 25px;
    margin-bottom: 5px;
}

.nav-item span {
    font-size: 11px;
    font-weight: 600;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item:after {
    content: "";
    position: absolute;
    background-color: #0e0e0e;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0px;
}

.nav-item:hover {
    color: #000000;
}

.nav-item:hover:after {
    width: 100%;
}

/*  Main photo content */

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px auto;
    font-size: 14px;
    line-height: 1.5em;
}

.badge {
    position: absolute;
    top: 15px; /* Adjust top position as needed */
    left: 16px; /* Adjust left position as needed */
    background-color: #ffffff; /* Choose your badge background color */
    color: #000000; /* Choose your badge text color */
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50px;
    z-index: 1; /* Ensure the badge appears above the image */
}

.photo-item {
    position: relative;
    width: 100%;
    margin-bottom: 90px;
}

.photo-item img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1;
}

.rating {
    display: flex;
    justify-content: flex-end;
    margin-top: -86px;
    align-items: center;
}

.number {
    margin-left: 4px;
}

.title {
    font-weight: 600;
    padding-top: 5px;

}

.price {
    font-weight: 600;
    text-decoration: underline;
} 